@model IReadOnlyList<Octokit.GitHubCommit>
@{
    ViewData["Title"] = "Commits";
}
<br><br><br>
<h1 class="display-2">Commits</h1>
@foreach (var commit in Model)
{
    <h3>@commit.Commit.Committer.Name</h3>
    <p>@commit.Commit.Message</p>
    <p>@(commit.Files?.Count ?? 0) arquivos</p>
    <br/>
}
