@using Glimpse.ViewModels;
@model ConnectRepositoryViewModel;
@{
    ViewData["Title"] = "Conectar Repositório";
}
<br><br>
<h1>Conectar projeto com o GitHub</h1>
<br>
<form asp-action="ConnectRepository" asp-controller="Repository" method="post">
    <input type="hidden" asp-for="ProjectId" value="@Model.ProjectId">
    <div class="row">
        <div class="form-group col">
            <label for="owner">Dono no GitHub:</label>
            <input type="text" class="form-control" id="owner" name="owner" placeholder="Dono/Organização" required autocomplete="off">
        </div>
        <div class="form-group col">
            <label for="repoName">Repositório no GitHub:</label>
            <input type="text" class="form-control" id="repoName" name="repoName" placeholder="Nome do repositório" required autocomplete="off">
        </div>
    </div><br>
    <div class="form-group">
        <label for="token">Token no GitHub:</label>
        <input type="text" class="form-control" id="token" name="token" placeholder="Token de acesso pessoal do GitHub" required autocomplete="off">
        <small class="form-text text-muted">Você pode gerar um token de acesso nas <a style="color: #ad41e7;" href="https://github.com/settings/tokens?type=beta">configurações de desenvolvedor no GitHub.</a></small>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Conectar repositório</button>
</form>
<style>
    .form-control {
        background-color: #222222;
        border: 1px solid #ffffff4f;
        height: 60px;
        border-radius: 8px;
    }
    .form-control:hover {
        background-color: #323232;
        outline: none;
        color: white;
    }
    .form-control:focus {
        background-color: #323232;
        color: white;
        border: 1px solid #ffffff4f;
    }
</style>