<header>
    <nav class="default-navbar px-3 navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom border-info fixed-top" style="background-color: rgb(27, 27, 27);">
        <a class="text-white" asp-controller="Project" asp-action="MainProjects" style="text-decoration: none;">
            <span class="mx-1"><img width="28" src="/Icons/Vector (3).svg"></span>
            <span><img width="75" src="/Icons/LogoHome.svg"></span>
        </a>
        <div class="flex-grow-1"></div>
        <partial name="_LoginPartial"/>
    </nav>
</header>
<style>
    .default-navbar {
        padding-bottom: 0.4%;
        padding-top: 0.4%;
    }
</style>