<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Glimpse</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/css/index.css"/>
    </head>
    <body class="bg-dark text-white">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> 
        <partial name="HeaderComponent"></partial>
        <main role="main">
            @RenderBody()
        </main>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>