@using Glimpse.Models
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signInManager

<ul class="navbar-nav">
    @if(signInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity.Name
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" asp-action="Logout" asp-controller="Account">
                        Logout
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-route="Profile">
                        Profile
                    </a>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item p-1">
            <a asp-controller="Account" asp-action="Login"><button class="button-login button-style-1">Entrar</button></a>
        </li>
        <li class="nav-item p-1">
            <a asp-controller="Account" asp-action="Register"><button class="button-register button-style-1">Registrar</button></a>
        </li>
    }
</ul>
