<header>
    <nav class="default-navbar px-3 navbar navbar-expand-sm navbar-toggleable-sm navbar-light" style="background-color: rgb(27, 27, 27);">
        <a class="text-white" asp-controller="Project" asp-action="MainProjects" style="text-decoration: none;">
            <span class="mx-1"><img width="28" src="/Icons/Vector (2).svg"></span>
            <span><img width="75" src="/Icons/LogoHome.svg"></span>
        </a>
        <div class="flex-grow-1"></div>
        <div class="d-flex gap-2">
            <button class="navbar-btn"><img class="align-items-center" src="/Icons/checklist-nav.svg" alt=""></button>
            <button class="navbar-btn"><img src="/Icons/info.svg" alt=""></button>
            <partial name="_LoginPartial"/>
        </div>
    </nav>
</header>
<style>
    .default-navbar {
        height: 6vh;
        padding-bottom: 0.4%;
        padding-top: 0.4%;
        border-bottom: 1px solid rgb(50, 50, 50);
    }

    .navbar-btn {
        background-color: transparent;
        outline: none;
        border: none;
        padding: 0px 6px 0px 6px;
    }

    .navbar-btn:hover {
        background-color: rgb(110, 61, 243);
    }
</style>