@model Project
@{
    ViewData["Title"] = "Adicionar Usuário";
}


<section>
    <form asp-action="AddUser" asp-controller="Project" asp-route-projectId="@Model.Id" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-12">

                <div class="form-group">
                    <label for="userEmail">E-mail do usuário a ser adicionado no projeto</label>
                    <input name="userEmail" type="text" class="form-control" required/>
                </div>
                <button type="submit">Enviar</button>
            </div>
        </div>
    </form>
</section>