@model Project
@{
    ViewData["Title"] = "Deletar Projeto";
}
<center>Deletar projeto? -> @Model.Name</center>
<form asp-action="DeleteProject" asp-controller="Project" method="post" enctype="multipart/form-data">
    <input asp-for="Id" type="hidden" class="form-control"/>
    <input asp-for="ResponsibleUserId" type="hidden" class="form-control"/>
    <input asp-for="Name" type="hidden" class="form-control"/>
    <input asp-for="CreationDate" type="hidden" class="form-control"/>
    <input asp-for="Description" type="hidden" class="form-control"/>
    <input asp-for="Picture" type="hidden" class="form-control"/>
    <input asp-for="IsActive" type="hidden" class="form-control"/>
    <div class="row">
        <div class="col-lg-12">
            <div class="card-footer">
                <center>
                    <button type="submit" class="btn-primary">Deletar</button>
                    <button class="btn-secondary"><a asp-action="MainProjects" asp-controller="Project">Cancelar</a></button>
                </center>
            </div>
        </div>
    </div>
</form>