@model Project
@{
    ViewData["Title"] = "Deletar Projeto";
}
<br><br><br>
<center><h1 class=" display-3">Deletar projeto @Model.Name?</h1></center>
<br><br>
<form asp-action="DeleteProject" asp-controller="Project" method="post" enctype="multipart/form-data">
    <input asp-for="Id" type="hidden" class="form-control"/>
    <input asp-for="ResponsibleUserId" type="hidden" class="form-control"/>
    <input asp-for="Name" type="hidden" class="form-control"/>
    <input asp-for="CreationDate" type="hidden" class="form-control"/>
    <input asp-for="Description" type="hidden" class="form-control"/>
    <input asp-for="Picture" type="hidden" class="form-control"/>
    <input asp-for="IsActive" type="hidden" class="form-control"/>
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-lg-auto p-2">
            <a>
                <button class="button-login button-style-1 p-3" type="submit">Deletar</button>
            </a>
        </div>
        <div class="col-lg-auto p-2">
            <a asp-controller="MainProjects" asp-action="Project">
                <button class="button-register button-style-1 p-3">Cancelar</button>
            </a>
        </div>
    </div>
</form>

<style>
    .button-register {
        padding: 0.6em 1.6em;
        border: none;
        border-radius: 8px;
        letter-spacing: 1px;
        box-sizing: border-box;
        color: #6600eb;
        transition: all 500ms;
        justify-content: center;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        text-transform: uppercase;
        outline: 2px solid #6600eb;
    }

    .button-login {
        padding: 0.6em 1.6em;
        border: none;
        border-radius: 8px;
        letter-spacing: 1px;
        box-sizing: border-box;
        transition: all 500ms;
        justify-content: center;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        text-transform: uppercase;
        outline: 2px solid #6600eb;
        background-color: black;
        color: white;
    }

    button:hover {
        transform: scale(1.05);
        outline: 2px solid #6600eb;
        box-shadow: 2px 3px 10px -2px #6600eb;
        color: white;
    }

    button::before {
        content: "";
        position: absolute;
        left: -50px;
        top: 0;
        width: 0;
        height: 100%;
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#6600eb);
        transform: skewX(45deg);
        z-index: -1;
        transition: width 500ms;
    }

    button:hover::before {
        width: 200%;
    }

    .glimpse-p {
        font-weight: bolder;
        background: -webkit-linear-gradient(144deg,#AF40FF, #5B42F3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 0.2em;
        font-style: italic;
    }
</style>