@{
    ViewData["Title"] = "Projetos";
}

<section>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <h1>Meus Projetos</h1>
            </li>
            <li class="nav-item">
                <a class="CTA-MODEL-01" asp-area="" asp-controller="Home" asp-action="Privacy">+ Criar Projeto</a>
            </li>
        </ul>
    </div>
</section>
