@using Glimpse.ViewModels;
@model RegisterVM;

@{
    ViewData["Title"] = "Register";
    Layout = "_BasicLayout";
}

<div class="register-container">
    <div class="form-container">
            <h2 id="Register-h2">Register</h2>
            <form asp-action="Register" id="form" method="post">
                <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                <div class="column">
                    <div class="col-8">
                        <div class="input-box mb-2">
                            <label asp-for="FirstName" class="form-label">First Name:</label>
                            <div class="input-validation">
                                <input asp-for="FirstName" class="form-input">
                                <span asp-validation-for="FirstName" class="validation-text"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="input-box mb-2">
                            <label asp-for="LastName" class="form-label">Last Name:</label>
                            <input asp-for="LastName" class="form-input">
                            <span asp-validation-for="LastName" class="validation-text"></span>
                        </div>
                    </div>
                </div>
                
                @* <div class="form-floating mt-2">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div> *@

                <div class="input-box mb-2">
                    <label asp-for="Email" class="form-label">E-mail:</label>
                    <input asp-for="Email" class="form-input">
                    <span asp-validation-for="Email" class="validation-text"></span>
                </div>

                <div class="input-box mb-2">
                    <label asp-for="Password" class="form-label">Password:</label>
                    <input asp-for="Password" class="form-input">
                    <span asp-validation-for="Password" class="validation-text"></span>
                </div>
                <div class="input-box">
                    <label asp-for="ConfirmPassword" class="form-label">Confirm your Password:</label>
                    <input asp-for="ConfirmPassword" class="form-input">
                    <span asp-validation-for="ConfirmPassword" class="validation-text"></span>
                </div>

                <div class="column">
                    <div class="col-8 mb-3">
                        <a asp-action="Login" class="alreadyHaveAccount-btn">Already have an account?</a>
                    </div>
                    <div class="col-4">
                        <input type="submit" value="Register" class="submit-btn">
                    </div>
                </div>
            </form>
    </div>
    <div class="container-sm image-container">
        <img src="../registerSideImage.svg" alt="">
    </div>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@* <Script>
    $("#form").validate();
</Script> *@
