@model Glimpse.ViewModels.RegisterVM;

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create role</title>
    </head>
    <body>
        @* <form asp-action="PostNewUser" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="UserName">Nome:</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <br>    
            <div class="form-group">
                <label asp-for="ProfilePic">Foto de perfil:</label>
                <input asp-for="ProfilePic" type="file" class="form-control-file" />
                <span asp-validation-for="ProfilePic" class="text-danger"></span>
            </div>
            <br>

            <button type="submit" class="btn btn-primary">Create Role</button>
        </form> *@
    </body>
</html>
