* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fixed-glimpse-text {
    margin-top: 30px;
    margin-bottom: 15px;
}


.form-container {
    background-color: #131313; 
    padding: 0px;
}

.form-label {
    color: #fff;
    font-size: 16px;
    text-align: left;
    line-height: 30px;
    padding: 0;
    margin: 0;
}

.form-input {
    width: 400px;
    height: 40px;
    background-color: #131313;
    border-radius: 5px;
    border-color: #9531FF;
    border-width: 1px;
}

.alreadyHaveAccount-btn {
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    text-shadow: none;
    line-height: normal;
}

.submit-btn {
    width: 100%;
    height: 50px;
    background-color: #9531FF;
    font-size: 15px;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.submit-btn:hover {
    background-color: #de38ff;
    transition: all 0.3s linear;
}

.google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #252525;
    font-size: 15px;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.google-btn:hover {
    background-color: #9531FF;
    transition: all 0.3s linear;
}

.form-container form {
    max-width: 300px;
    margin: 0 auto;
}

.image-container {
    background-color: #131313;
    display: flex;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
