
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src='@(ViewData["UserPfp"] != null ? ViewData["UserPfp"] : "../Icons/default_avatar.webp")' alt="">
    <p>User Logado: @ViewData["UserId"]</p>
    <p>User PFP: @ViewData["UserPfp"]</p>
</div>
