@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confimação de Registro";
}
<br><br><br><br><br>
<center><p class="display-4">@ViewData["Title"]</p></center>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <center>
            <p class="fs-5">
                Desculpe, nós ainda não possuímos uma ferramenta de verificação por email, por enquanto verifique sua conta por este link:
                <p class="fs-5"><a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para verificar sua conta.</a></p>
            </p>
        </center>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

