@model Role
@{

ICollection<User> projectUsers = ViewData["projectUsers"] as ICollection<User>;

}
<h3>Atribuir -> @Model.Name</h3>

<h5>Usuários do projeto:</h5>
@foreach(User user in projectUsers)
{
    <p>@user.Name
        <a asp-area="" asp-controller="Role" asp-action="AtribuirRole" asp-route-userId="@user.Id" asp-route-roleId="@Model.Id">Atribuir</a>
    </p>
}




    

    

    