@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@font-face {
font-family: "Fixture-SemiBold";
src: url("../fonts/Fixture-SemiBold.otf");
}
@font-face {
font-family: "Fixture-Expanded-SemiBold";
src: url("../fonts/Fixture-Expanded-SemiBold.otf");
}
@font-face {
font-family: "Fixture-Expanded-Light";
src: url("../fonts/Fixture-Expanded-Light.otf");
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

* {
    font-family: 'Fixture-Expanded-Light', sans-serif;
}

.fixed-glimpse-text {
    margin-top: 30px;
    margin-bottom: 15px;
}

.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container {
    max-width: 400px;
}

.image-container {
    height: 100%;
}

.image-container img {
    height: 2000px;

    /* object-fit: cover; Ensure the image covers the entire container */
}

.external-login-btn {
    width: 100%;
    height: 50px;
    background-color: #9531FF;
    font-size: 15px;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.submit-btn {
    width: 400px;
    height: 50px;
    background-color: #9531FF;
    font-size: 15px;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.submit-btn:hover {
    background-color: #de38ff;
    transition: all 0.3s linear;
}

.form-input {
    width: 400px;
    height: 40px;
    background-color: #131313;
    border-radius: 5px;
    border-color: #9531FF;
    border-width: 1px;
}

.form-input:not(:placeholder-shown) {
    background-color: #131313;
    color: #fff; /* Same as default background color */
}

.form-input:focus {
    background-color: #131313; /* Same as default background color */
    border-color: #9531FF; /* Update border color when focused */
    outline: none; /* Remove default focus outline */
}
