@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem rgb(32, 32, 32), 0 0 0 0.25rem #258cfb;
}
* {
  font-family: 'Poppins', sans-serif;
}

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-clip: content-box
}

.project-card {
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 25vw;
  height: 6vw;
  padding: 1%;
  justify-content: space-between;
  border-radius: 0.8vw;
}

.popup-trigger {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.sla {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10%;
}

.project-card p {
  margin: 0;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.img-icon {
  width: 3vw;
  height: 3vw;
}

.pop-up-1 {
  display: none;
  width: 100px;
  font-size: 16px;
  position: relative;
  background-color: #f9f9f9;
  border: 1px solid #131313;
  padding: 15px;
  z-index: 1;
  color: black;
  text-decoration: none;
}

.nav-item-7 {
  display: flex;
}

.normal-icon {
  width: 10px;
  height: 10px;
}