@using Glimpse.ViewModels;
@model BoardVM;

<section class="container board-menu-func d-flex justify-content-around">
        <div class=" text-white">
          @* <p style="font-size: smaller; letter-spacing: 2px;">Seja bem-vindo!</p> *@
          <p style="font-size: smaller; letter-spacing: 2px;">Projeto: @Model.Board.Project.Name</p>
          <button class="btn fw-bold btn-secondary dropdown-toggle board-title-btn" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            <h1>@Model.Board.Name</h1>
          </button>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
            @foreach(var board in Model.Board.Project.Boards) {
              <li><a class="dropdown-item" asp-action="GetBoardInfo" asp-controller="Board" asp-route-id="@board.Id">@board.Name</a></li>
            }
          </ul>
        </div>
        <div class="d-flex justify-content-center">
          <box-icon class="mx-1" name='hard-hat' data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Cargos" type='solid' color="white" id="project-roles-btn" style="cursor: pointer;"></box-icon>
          <box-icon class="mx-1" name='bell' data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Notificações" style="cursor: pointer;" color="white"></box-icon>
          <box-icon class="mx-1" name='purchase-tag' color="white" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tags" style="cursor: pointer;" onclick="openTagsModal()"></box-icon>
          <box-icon class="mx-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Membros" name="group" color="white" id="member-side-menu-btn" style="cursor: pointer;" onclick="ToggleMemberSideBar()"></box-icon>
        </div>
</section>



<style>
  .board-menu-func {
    min-width: calc(100% - 250px);
    justify-content: start;
    margin-bottom: 80px;
    @* margin-left: 200px; *@
  }
  .board-title-btn {
    background-color: #131313;
    outline: none;
    border: none;
    display: flex;
    gap: 3px;
    margin: 0;
    padding: 0;
    padding-right: 8px;
    align-items: center;
  }
  .board-title-btn:hover {
    background-color: #a642f3;
  }
  .board-title-btn:focus {
    background-color: #a642f3;
  }
</style>
