@using Glimpse.ViewModels;
@model BoardVM;

<div class="col col-md-3 col-xl-2 px-sm-2 px-0" style="max-height: 100vh; background-color: #1b1b1b; border-right: 1px solid rgb(50, 50, 50);">
    <div class="d-flex flex-column align-items-center align-items-sm-start text-white">
        <div class="mt-2 d-flex">
            <img width="30" src="@Url.Content(Model.Board.Project.Picture)" alt="">
            <span class="fs-6 d-none d-sm-inline" style="white-space:nowrap; font-family: Fixture-Expanded-SemiBold;">@Model.Board.Project.Name</span>
        </div>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li>
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="#" class="sidebar-link nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                    </li>
                    <li>
                        <a href="#" class="sidebar-link nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
            </li>
            <li>
                <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                    <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Quadros</span></a>
                <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="#" class="sidebar-link nav-link px-0"> <span class="d-none d-sm-inline">Quadros</span></a>
                    </li>
                    <li>
                        <a href="#" class="sidebar-link nav-link px-0"> <span class="d-none d-sm-inline">Itens</span></a>
                    </li>
                    <li>
                        <a href="#" class="sidebar-link nav-link px-0"> <span class="d-none d-sm-inline">Sprints</span></a>
                    </li>
                    <li>
                        <a href="#" class="sidebar-link nav-link px-0"> <span class="d-none d-sm-inline">Personas</span></a>
                    </li>
                    <li>
                        <a href="#" class="sidebar-link nav-link px-0"> <span class="d-none d-sm-inline">Estimate</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span></a>
                    <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                        <li class="w-100">
                            <a href="#" class="sidebar-link nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                        </li>
                        <li>
                            <a href="#" class="sidebar-link nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                        </li>
                        <li>
                            <a href="#" class="sidebar-link nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                        </li>
                        <li>
                            <a href="#" class="sidebar-link nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                        </li>
                    </ul>
            </li>
            <li>
                <a href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
            </li>
        </ul>
        <div class="horizontal-separator py-2"></div>
        <div class="pb-4">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none">
                <span class="d-none d-sm-inline mx-1">Opções de projeto</span>
            </a>
        </div>
    </div>
</div>
<style>
    .horizontal-separator {
        border-top: 1px solid #3a3a3a;
        width: 100%;
    }
    .sidebar-link {
        color: white;
    }
</style>