@using Glimpse.ViewModels;
@model BoardVM;

<div class="sideBar d-flex flex-column">
    <div class="top mb-5">
        <div class="logo">
            <img class="menuLogo" src="~/Icons/GlimpseLogo.svg" alt="">
            <span class="text-white">Glimpse</span>
        </div>
        <box-icon name="menu" color="white" id="side-menu-btn"></box-icon>
    </div>
    <div class="d-flex flex-column mb-3">
        <div class="sideBar-item">
            <a class="button-style-2 h-100" asp-action="Edit" asp-controller="Board" asp-route-id="@Model.Board.Id">
                <box-icon name='cog' color="white"></box-icon>
                <span class="SB-nav-item text-white">Opções</span>
            </a>
            <span class="tooltip">Opções</span>
        </div>
        <div class="sideBar-item" >
            <a class="button-style-2 h-100" asp-action="GetRepositories" asp-controller="Repository" asp-route-projectId="@Model.Board.Project.Id">
                <box-icon name='code-alt' color="white"></box-icon>
                <span class="SB-nav-item text-white">Repos</span>
            </a>
            <span class="tooltip">Repos</span>
        </div>
        <div class="sideBar-item" >
            <a class="button-style-2 h-100" asp-action="MainProjects" asp-controller="Project">
                <box-icon name='briefcase-alt' color="white"></box-icon>
                <span class="SB-nav-item text-white">Projetos</span>
            </a>
            <span class="tooltip">Projetos</span>
        </div>
    </div>
</div>