@model Board
@{
    ViewData["Title"] = "Criar Quadro";
    var projectId = ViewData["projectId"];
}

<script>
    function validateForm() {
        var fileInput = document.getElementById('boardImg');
        var BackgroundImage = document.getElementById('BackgroundImage');
        var file = fileInput.files[0];
        if (!file) {
            BackgroundImage.setAttribute("value", "../default-images/defaultBackground.jpg")
            return true;
        }
        return true;
    }
</script>

<section>
    <form asp-action="CreateBoard" asp-controller="Board" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
        <div class="row">
            <div class="col-lg-12">

                <div class="form-group">
                    <label></label>
                    <input asp-for="Name" type="text" class="form-control" required/>
                </div>

                <div class="form-group">
                    <label>Projeto:</label>
                    <input asp-for="Project" type="text" class="form-control" value="@projectId" readonly/>
                </div>

                <div class="form-group">
                    <label for="boardImg"></label>
                    <input id="boardImg" name="boardImg" type="file" accept="image/png, image/jpeg, image/jpg" class="form-control"/>
                </div>

                <div class="form-group">
                    <label asp-for="Background"></label>
                    <input id="BackgroundImage" asp-for="Background" type="text" class="form-control" hidden/>
                </div>

                <div class="form-group">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>

                <div class="card-footer">
                    <center>
                        <button type="submit" class="btn-primary">Criar Quadro</button>
                        <button class="btn-secondary"><a asp-action="GetBoardInfo" asp-controller="Board">Cancelar</a></button>
                    </center>
                </div>
            </div>
        </div>
    </form>
</section>