@using Glimpse.ViewModels;

@model BoardVM;
@{
    Layout = "_BasicLayout";
    ViewData["StylesheetUrl"] = "~/css/index.css";
    ViewData["Title"] = Model.Board.Name;
    
}
<br><br>

<partial name="_BoardHeaderPartial"></partial>
<partial name="_SideBarPartial"></partial>
<partial name="_EditRolePartial"></partial>
<partial name="_MainContentPartial"></partial>

<div id="overlay" class="overlay" hidden>
    <form id="edit-card-form" asp-action="EditCard" asp-controller="Card" method="post">
        <div id="overlay-content" class="overlay-content">
            <input type="hidden" name="cardId" id="cardId">
            <div class="d-flex overflow-auto">
                <input class="overflow-visible text-white fs-3" type="text" name="name" id="name" style="outline: none; background-color: #131313; border: none;">
            </div> 
            <div class="d-flex flex-column">
                <label for="description">Description:</label>
                <input type="text" name="description" id="description">
            </div>
            <div>
                <label for="date">Date:</label>
                <input type="date" name="date" id="date">
            </div>
            <input type="hidden" name="id" value="@Model.Board.Id">

            @if (Model.UserRole.CanManageCards) {
                <button type="submit" id="save-button" class="button-save">Salvar</button>
            }
        </div>
    </form>
    <div class="createCheckbox">
        <button id="show-checkbox-form-button" class="button-create">Adicionar Checkbox</button>
        <form id="create-checkbox-form" asp-action="CreateCheckbox" asp-controller="Checkbox" enctype="multipart/form-data" method="post" hidden>
            <input type="checkbox" name="finished">
            <input type="text" name="name" placeholder="Nome do checkbox">
            <input type="date" name="date">
            <input type="hidden" name="cardId" id="checkbox-cardId">

            <button type="submit" id="save-checkbox-button" class="button-save">Salvar</button>
        </form>
    </div>
    <div id="checkbox-list" class="checkbox-list">
        
    </div>
</div>
@section Scripts {
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="/js/board-info.js"></script>
}
