@model Board
@{
    ViewData["Title"] = "Quadro - " + Model.Name;
}

<section class="board-menu-func">
    <div class="board-header">
        <h3>@Model.Name</h3>
        
    </div>
</section>

<section class="board-main-layout">
    
</section>